
$color-primary: #131859;
$color-primary-dark: #0B0E31;
$color-secondary: #252c6a;
$color-error: #cc3333;
$color-success: #4bb544;
$border-radius: 4px;
$border-color: #C66300;
$background-color: rgb(252, 237, 170);