
<div><h2 style="color: #0B0E31; text-align: center; margin-top: 2vh">WELCOME ADMIN</h2></div>
<div class="admin_select">
    <a href="room/list">
      <button type="button" class="btn btn-primary btn-lg btn-slg" >Rooms</button>
    </a>
    <a href="reservation/list">
      <button type="button" class="btn btn-danger btn-lg btn-slg">Reserevations</button>
    </a>
    <a href="user/list">
      <button type="button" class="btn btn-success btn-lg btn-slg">Users</button>
      </a>
    <a href="message/list">
      <button type="button" class="btn btn-warning btn-lg btn-slg">Message</button>
      </a>
    
</div>